# Secrets
/ssl/

# Docker Compose
/.env.ldap-server
/docker-compose.override.yaml
/saml/idp/

# Python
__pycache__
/.venv/

# Robot framework logs
log.html
report.html
output.xml
xunit.xml

# Helm
/helm/values-*.yaml
