# Secrets
/ssl/

# Docker Compose
/.env.ldap-server
/docker-compose.override.yaml
/saml/idp/

# Python
__pycache__
/.venv/
/.coverage

# Robot framework logs
log.html
report.html
output.xml
xunit.xml

# Helm
/helm/values-*.yaml

# kyverno test files
helm/**/.kyverno/kyverno-test.yaml
helm/**/.kyverno/manifest.yaml
