[MESSAGES CONTROL]

# """R0801: Similar lines in 2 files"""
# False positives can not be excluded line by line
# Please check manually!

# """W0511: fixme"""
# Don't let the pre-commit hook fail because of a TODO note

disable=C0114,C0116,R0801,W0511

# [EOF]
