[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
kubernetes = "*"
pyasn1-modules = "==0.4.2"
typer-slim = "*"
pydantic = "*"

[dev-packages]
pdbpp = "*"
pytest = "*"
pytest-mock = "*"
